Test_*_Runner.c
build/
crosstool-ng
aesd-build
.vscode/
test.sh.log
aesdsocket
server/aesdsocket
server/valgrind-out.txt

*.o

aesd-char-driver/.main.o.d

aesd-char-driver/oe-logs

aesd-char-driver/oe-workdir
